<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Properties from Realpage</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Realpage Asset Snapshot for Greater Chicago Area </h1>
    <h3>Original data source: <a href="https://rma.realpage.com/explore/main?latitude=41.89026999999999&longitude=-87.63232100000002&zoom=10">https://rma.realpage.com/explore/main?latitude=41.89026999999999&longitude=-87.63232100000002&zoom=10</a></h3>
    <h3>This data was harvested by visiting the above website and using network monitoring tools to inspect AJAX requests.  It was determined that the actual real estate data is being returned as JSON from the following publicly-accessible URL:
        <br><br>
        <a href="https://dac.realpage.com/dac/markets/16980/properties">https://dac.realpage.com/dac/markets/16980/properties</a>
        <br><br>
        The JSON data returned from a late-March 2023 request to this URL was saved in local file, and is being parsed to display the property data below.
    </h3>


    <table>
        <tr>
            <th>Property Name</th>
            <th>City</th>
            <th>State</th>
            <th>Unit Count</th>
            <th>Occupancy</th>
        </tr>
        {% for property in table_data %}
            <tr>
                <td>{{property['name']}}</td>
                <td>{{property['city']}}</td>
                <td>{{property['state']}}</td>
                <td>{{property['unitcount']}}</td>
                <td>{{property['occupancy']}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>